* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

@font-face {
    font-family: 'Norse-Bold';
    src: url(./fonts/Norse-Bold.otf);
}

@font-face {
    font-family: 'Vintage';
    src: url(./fonts/Vintage.otf);
}

@font-face {
    font-family: 'Monainn';
    src: url(./fonts/Monainn.otf);
}

@font-face {
    font-family: 'Ren';
    src: url(./fonts/Ren.ttf);
}

@font-face {
    font-family: 'Puritan';
    src: url(./fonts/Puritan.ttf);
}

/* these css rules will apply 900<= */




/* separates the entire page into a two column structure */
.container {
    display: grid;
    /* grid-template-columns: minmax(250px, clamp(250px, 35%, 500px)) 1fr;  */
}

/* left side of the website */
.left-side {
    background: url(./images/fowler.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    /* takes up entire left column and space under and above it */
    padding: 25px;
    width: 100%;
   

    /* space between the logo and text */
    gap: 20px;

    /* moving it up */
}

/* makes the logo pop and adds automatic resizing */
.banner img {
    height: auto;
    max-width: 80px;
    filter: grayscale(100%) brightness(100%) invert(100%); 
    flex-shrink: 1;
}

.banner h1 {
    color: white;
    font-family: Vintage;
    font-size: clamp(2.5rem, 6vw, 3rem);
    flex-shrink: 1;
    overflow-wrap: break-word;
}


/* left column mantra text */
.mantra {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mantra li {
    background-color: black;
    color: white;
    width: fit-content;
}


/* left column filler */
.recipe-banner {
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border-style: double;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.413);
    max-height: 25vh;
    max-width: 60vw;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.recipe-banner::-webkit-scrollbar{
    display: none;
}


.recipe-banner ul {
    list-style-type: none;
    padding: 0 40px 10px 40px;
    
}

.recipe-banner li {
    padding-bottom: 20px;
    font-family: monospace;
    
}

#recipe-heading {
    font-family: Puritan;
    font-size: x-large;
    list-style-type: none;
    text-align: center;
    padding-top: 20px;
    margin-top: 0px;
}


/* right side */

/* font color and whole side arrangement */
.right-side {
    color: white; 
    display: flex; 
    flex-direction: column;
}

h3 {
    padding: 20px 40px 0px 30px;
    font-family: monospace;
}

.headline {
    font-family: monospace;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;

}

.entice {
    font-family: monospace;
    padding: 10px 0 20px 30px;
}

section{
    background-color: rgb(30, 28, 25);
    background-image: url(./images/up-to-no-good.png);
    background-repeat: repeat;
    background-size: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-area-label {
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    padding: 20px 40px 20px 40px;

}

.input-group.first-name       { grid-area: first-name; }
.input-group.last-name        { grid-area: last-name; }
.input-group.email            { grid-area: email; }
.input-group.phone-number     { grid-area: phone-number; }
.input-group.password         { grid-area: password; }
.input-group.confirm-password { grid-area: confirm-password; }


form {
    font-family: monospace;
    /* make two columns */
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "first-name last-name"
        "email phone-number"
        "password confirm-password";
    gap: 20px;
    padding: 0 40px 20px 40px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

input {
    border: solid grey;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
}

input:focus {
    border: 2px solid saddlebrown;
    outline: none;
}

.third-area {
    background-color: rgb(27, 26, 31);
    flex-grow: 1;
}

.signature {
    color: white;
    text-decoration: none;
    
}


@media (max-width: 500px) {
    form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "first-name"
            "last-name"
            "email"
            "phone-number"
            "password"
            "confirm-password";
    }
}

.log-in {
    color: blanchedalmond;
    text-decoration: none;
}

.creation-logon {
    margin: 0;
    padding-bottom: 20px;
}

.button img {
    width: 100px;
    display: block;
}

.form-submit {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: monospace;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#duck {
    width: 40px;
    padding-bottom: -5px;
    margin-bottom: -3px;
    filter: grayscale(100%) brightness(100%) invert(100%);
    position: relative;
    top: -14%;
    right: -5%;
    opacity: 50%;
}

.form-submit:hover #duck {
    opacity: 100%;
    transform: scale(1.02);
    transition: transform 0.1s linear;
}
